    <div class="container">

      <div class="starter-template">

<h1>Editing simulation</h1>

<%= render 'form' %>

		<h2>Players</h2>
		<%= render @simulation.players %>

		<h2>Add a player:</h2>
		<%= form_for([@simulation, @simulation.players.build]) do |f| %>
		  <p>
		    <%= f.label :user %><br />
		    <%= f.number_field :user %>
		  </p>
		  <p>
		    <%= f.label :roletitle %><br />
		    <%= f.text_field :roletitle %>
		  </p>
		  <p>
		    <%= f.submit %>
		  </p>
		<% end %>

<%= link_to 'Show', @simulation %> |
<%= link_to 'Back', simulations_path %>

      </div>

    </div><!-- /.container -->
