<%= render :partial => '/displays/display_table' %>

    <div class="container">

      <div class="starter-template">

        <h1><%= @simulation.name %></h1>
          <p id="notice"><%= notice %></p>
		      <p class="lead">The simulation page should be here!</p>
		      
		    <h2>Players</h2>
          <p>
		      <%= render @simulation.players %>
          </p>

        <%= link_to 'Edit', edit_simulation_path(@simulation) %> |
        <%= link_to 'Back', simulations_path %>

      </div>

    </div><!-- /.container -->

<script>
  $(document).ready(function(){
    $('.carousel').carousel();


      // produce sliders
    var sliders = document.getElementsByClassName('slider');
    for (var i = 0; i < sliders.length; ++i) {
      var item = sliders[i];
      $(item).slider( { value: 15 } );
    }
  });
</script>
