<div class="container"
  style="position: absolute; width: 20%; background: #ffffff; border:4px solid black">

  <%= render :partial => '/simulations/slider_bar' %>
</div>

<div class="container"
  style="position: absolute; margin-left: 20%; width: 60%">

<!-- Example row of columns -->
<div class="row">
    <div class="col-sm-12">
      <%= render :partial => '/displays/display_table' %>
    </div>
</div>
<hr>

<div class="row">
    <div class="col-sm-12">
          <h1><%= @simulation.name %></h1>
          <p id="notice"><%= notice %></p>
    </div>
</div>
<hr>

<!-- <%= render @simulation.players %>/ -->

<div class="row">
    <div class="col-sm-12">
      <%= link_to 'Edit', edit_simulation_path(@simulation) %> |
      <%= link_to 'Back', simulations_path %> 
    </div>
</div>
<hr>

<footer>
  <p>&copy; Something 2013</p>
</footer>

</div><!-- /.container -->

<%= javascript_tag do %>
  test = '<%= j settings_url %>';
<% end %>

<script>
  var emmision = [];
  var supply = [];
  var demand = [];
  <% Setting.all.each do |setting| %>
    emmision[<%= setting.id %>] = <%= setting.lin_emmision %>
    supply[<%= setting.id %>]  = <%= setting.lin_supply %>
    demand[<%= setting.id %>]  = <%= setting.lin_demand %>
  <% end %>

  var impact = 0.5;
  var total_emmisions = 0;
  var total_supply = 0;
  var total_demand = 0;

  var slider_values = [];

  $(document).ready(function(){
    $('.carousel').carousel({
            interval: false
        });

    // produce sliders
    var sliders = document.getElementsByClassName('slider');
    for (var i = 0; i < sliders.length; ++i) {
      var item = sliders[i];
      slider_values[item.id] = document.getElementById("v"+item.id).innerHTML / 100;
      
      $(item).slider( { 
        value: document.getElementById("v"+item.id).innerHTML,


        change: function(e, ui){
          var txt = document.getElementById("v"+this.id);


          //Do something with ui.value
          txt.innerHTML = ui.value;
          $.ajax('/policies/'+this.id, {
            type: 'PATCH',
            data: { policy: { value: ui.value }, commit: "Update Policy" },
            //success: function() { .. },
            error: function() { alert("err"); }
          });

          impact = (ui.value / 100) * emmision[this.id];
          slider_values[this.id] = ui.value / 100;
          update_values();
          update_display();

        } 
      });
    }
    update_values();
    setup_display();
  });

  function update_values() {
    total_emmisions = 0.0;
    total_supply = 1.0;
    total_demand = 1.0;

    for (var i = 1; i < slider_values.length; ++i) {
      total_emmisions += slider_values[i] * emmision[i];
      total_supply += slider_values[i] * supply[i];
      total_demand += slider_values[i] * demand[i];
    }
  }


</script>
