<h1>New Map Item</h1>
<%= form_for :map_item, url: map_items_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>