<p id="notice"><%= notice %></p>

<p>
  <strong>Settid:</strong>
  <%= @setting.settid %>
</p>

<p>
  <strong>Title:</strong>
  <%= @setting.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @setting.description %>
</p>

<%= link_to 'Edit', edit_setting_path(@setting) %> |
<%= link_to 'Back', settings_path %>
