<div class="row">
<div class="col-sm-6"> 
<p>
  <strong>Player:</strong>
  <%= player.user_id %> (<% if not player.user.nil? %><%= player.user.username %><% else %>invalid user<% end %>)
</p>
</div>

<div class="col-sm-6">
  <p>
    <strong>Role:</strong>
    <%= player.roletitle %>
  </p>
</div>
</div>


<% player.policy.each do |policy| %> 

<div class="row">
  <div class="col-sm-6">
    <strong>Policy:</strong> <%= policy.setting.title %>
  </div>
  <div class="col-sm-6">
     <div class="text", id="v<%= policy.id %>"><%= policy.value %></div><div class="text"%>%</div>
  </div>
</div>

<div class="row" style="padding-top:10px; padding-bottom:10px">
  <div class="col-sm-12">
    <div class="slider", id="<%= policy.id %>"></div>
  </div>
</div>


<% end %>


<div class="row">
<div class="col-sm-12">
  <%= link_to 'New Policy', new_policy_path( :current_pl => player.user_id, :current_sim => player.simulation_id ) %>
  <%= link_to 'Remove Player', [player.simulation, player],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>

</div>
</div>
<hr>

<style type='text/css'>
#slider {
  width: 100%;
}
</style>