  <p>
    <strong>Player:</strong>
    <%= player.user_id %> (<% if not player.user.nil? %><%= player.user.username %><% else %>invalid user<% end %>)
  </p>

  <strong>Role:</strong>
    <%= player.roletitle %>
  </p>

    <% player.policy.each do |policy| %> 
      <strong>Policy:</strong>
          <%= policy.setting.title %> set to <%= policy.value %>
      </p>
      <div class="slider"></div>
    <% end %>
  
  <%= link_to 'New Policy', new_policy_path( :current_pl => player.user_id, :current_sim => player.simulation_id ) %>
  <%= link_to 'Remove Player', [player.simulation, player],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
  </p>

<style type='text/css'>
#slider {
  width: 500px;
}
</style>