<%= javascript_include_tag "http://d3js.org/d3.v3.min.js", charset: "utf-8" %>

<head>
<%= csrf_meta_tag %>
<%= javascript_include_tag "jquery.contextmenu.js" %>
<%= stylesheet_link_tag "jquery.contextmenu.css" %>
<%= stylesheet_link_tag "map.css" %>

<script type="text/javascript">
var right_x, right_y;
var map;
var point;

$( init );

function init() {

    // make items draggable
    var draggables = document.getElementsByClassName('draggable_class');
    for (var i = 0; i < draggables.length; ++i) {
        var item = draggables[i];  
        $(item).draggable( {
            containment: '#content',
            cursor: 'move',
            helper: 'clone',
            stop: function( event, ui ) {
                //$(this).after($(ui.helper).clone().draggable());
                var clone = $(ui.helper).clone(true).appendTo('body');
                ui.helper.data( 'draggable', jQuery.extend(true, {}, clone.data('draggable')) );
                ui.helper.data( 'droppable', jQuery.extend(true, {}, clone.data('droppable')) );

            }
        });
        $(item).bind('dragstop', function(event, ui) {
            //var original = $(this);
            //var clone = original.clone().insertAfter(this);
            
        });
    }

    map = document.getElementById('mainspace');
    $(map).contextPopup({
        title: 'My Popup Menu',
        items: [
            { label:'Add Point',
                //icon:'icons/asdf.png',
                action:function() { 
                    //alert(right_x + ', ' + right_y);
                    $.ajax('/map_points/update', {
                        type: 'PUT',
                        data: { title: 'point', description: 'some random point', x: right_x, y: right_y },
                        //success: function() { .. },
                        //error: function() { .. }
                    });

                    point = $('<%= image_tag "/images/blue.png", class: "point", id: "point" %>').css({left:right_x + 'px', top:right_y + 'px'});
                    $(map).append(point);
                } },
            { label:'Another Thing',
                action:function() { alert('clicked 2') } },
            /* null can be used to add a separator to the menu items */
            null,
            { label:'Something',
                action:function() { alert('clicked 3') } }
        ]
    });

    $(map).mousedown(function(e){ 
    if( e.button == 2 ) { 
        var offset_t = $(this).offset().top - $(window).scrollTop();
        var offset_l = $(this).offset().left - $(window).scrollLeft();
        right_x = Math.round( (e.clientX - offset_l) );
        right_y = Math.round( (e.clientY - offset_t) );
        return false; 
    } 
    return true; 
    });

    // get auth token
    $.ajaxSetup({
        headers: {
        'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
    }

});
}

//cloud opacity values
var cloudOpacity = 0.0;
var cloudOpUp = true;

//changes cloud
document.onclick = function() {

    //change clouds opacity
    if (cloudOpUp) {

        cloudOpacity += 0.1;
    }
    else {

        cloudOpacity -= 0.1;
    }

    if (cloudOpacity < 0.0) {

        cloudOpUp = true;
        cloudOpacity = 0.0;
    }
    else if (cloudOpacity > 1.0) {

        cloudOpUp = false;
        cloudOpacity = 1.0;
    }

    $("#clouds").css({opacity: cloudOpacity});
};

jQuery(document).ready(function () { 
    var map = $('#nz_map');
    var x = 562;
    var y = 246;

    <% @points.each do |point| %>
        x = <%= point.x %> - 10;
        y = <%= point.y %> - 10;
        point = $('<%= image_tag "/images/blue.png", class: "point", id: "point" %>').css({left:x + 'px', top:y + 'px'});
        map.append(point);
    <% end %>
});


</script>

</head>

<body>

<div id="content">
    <div id="mainspace">
        <img id="nz_map" src="/images/nz_map.png", alt: "New Zealand map">
        <img id="clouds" src="/images/clouds.png", alt: "clouds">
    </div>    
    <div id="sidebar">
        <table>
            <tr>
               <th>Name</th>
               <th>Item</th>
           </tr>
            <% @random.each do |something| %>
                <tr>
                    <td><%= something.name %></td>
                    <td><%= image_tag something.url, class: "draggable_class", id: something.name %></td>
                </tr>
            <% end %>
        </table>
    </div>
</div>

</body>

<script>

// var n = 4, // number of layers
//     m = 200, // number of samples per layer
//     stack = d3.layout.stack().offset("wiggle"),
//     layers0 = stack(d3.range(n).map(function() { return bumpLayer(m); })),
//     layers1 = stack(d3.range(n).map(function() { return bumpLayer(m); }));

// var width = 960,
//     height = 500;

// var x = d3.scale.linear()
//     .domain([0, m - 1])
//     .range([0, width]);

// var y = d3.scale.linear()
//     .domain([0, d3.max(layers0.concat(layers1), function(layer) { return d3.max(layer, function(d) { return d.y0 + d.y; }); })])
//     .range([height, 0]);

// var color = d3.scale.linear()
//     .range(["#aad", "#556"]);

// var area = d3.svg.area()
//     .x(function(d) { return x(d.x); })
//     .y0(function(d) { return y(d.y0); })
//     .y1(function(d) { return y(d.y0 + d.y); });

// var svg = d3.select("body").append("svg")
//     .attr("width", width)
//     .attr("height", height);

// svg.selectAll("path")
//     .data(layers0)
//   .enter().append("path")
//     .attr("d", area)
//     .style("fill", function() { return color(Math.random()); });

// function transition() {
//   d3.selectAll("path")
//       .data(function() {
//         var d = layers1;
//         layers1 = layers0;
//         return layers0 = d;
//       })
//     .transition()
//       .duration(2500)
//       .attr("d", area);
// }

// // Inspired by Lee Byron's test data generator.
// function bumpLayer(n) {

//   function bump(a) {
//     var x = 1 / (.1 + Math.random()),
//         y = 2 * Math.random() - .5,
//         z = 10 / (.1 + Math.random());
//     for (var i = 0; i < n; i++) {
//       var w = (i / n - y) * z;
//       a[i] += x * Math.exp(-w * w);
//     }
//   }

//   var a = [], i;
//   for (i = 0; i < n; ++i) a[i] = 0;
//   for (i = 0; i < 5; ++i) bump(a);
//   return a.map(function(d, i) { return {x: i, y: Math.max(0, d)}; });
// }

</script>