<h1>Listing policies</h1>

<table>
  <thead>
    <tr>
      <th>Player</th>
      <th>Simulation</th>
      <th>Setting</th>
      <th>Value</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @policies.each do |policy| %>
      <tr>
        <% if not policy.player.nil? %>
        <td><%= policy.player.user.username %></td>
        <td><%= policy.player.simulation.name %></td>
        <% else %>
        <td> Invalid Player </td><td> Invalid Simulation </td>
        <% end %>

        <% if not policy.setting.nil? %>
        <td><%= policy.setting.id %></td>
        <% else %>
        <td> Invalid setting </td>
        <% end %>

        <td><%= policy.value %></td>
        <td><%= link_to 'Show', policy %></td>
        <td><%= link_to 'Edit', edit_policy_path(policy) %></td>
        <td><%= link_to 'Destroy', policy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Policy', new_policy_path %>
